<DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WS | World Sport</title>
    <%= csrf_meta_tags %>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel" type="text/css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
  
    <div id="header-wrapper">
      <div id="header">
        <div id="logo">
      <h1><%= link_to "Cricket World", root_path %></h1>
      <p>International cricket news and information source</p>
        </div>
    <div id="menu">
      <ul class="main-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Teams", teams_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Login", login_path %></li>
      </ul>
    </div>   <!-- end #menu -->
      </div>   <!-- end #outer menu -->
    </div>   