<p id="notice"><%= notice %></p>

<h1 style="color: #ffffff;">Players</h1>
<br>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Runs</th>
      <th>Fours</th>
      <th>Sixes</th>
      <th>Wickets</th>
      <th>Bowling Rank</th>
      <th>Batting Rank</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.firstname %></td>
        <td><%= athlete.lastname %></td>
        <td><%= athlete.age %></td>
        <td><%= athlete.runs %></td>
        <td><%= athlete.fours %></td>
        <td><%= athlete.sixes %></td>
        <td><%= athlete.wickets %></td>
        <td><%= athlete.bowlingrank %></td>
        <td><%= athlete.battingrank %></td>
        <td><%= athlete.team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
