
<p>
  <strong>First Name:</strong>
  <%= @athlete.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @athlete.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @athlete.age %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @athlete.runs %>
</p>

<p>
  <strong>Fours:</strong>
  <%= @athlete.fours %>
</p>

<p>
  <strong>Sixes:</strong>
  <%= @athlete.sixes %>
</p>

<p>
  <strong>Wickets:</strong>
  <%= @athlete.wickets %>
</p>

<p>
  <strong>Bowling Rank:</strong>
  <%= @athlete.bowlingrank %>
</p>

<p>
  <strong>Batting Rank:</strong>
  <%= @athlete.battingrank %>
</p>

<p>
  <strong>Team:</strong>
  <%= @athlete.team_id %>
</p>
<%= link_to 'Other Cricketers', athletes_path %>
